<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/EasyDB/src/GUI/Frames/SplashFrame/SplashFrame.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="GUI.Frames.SplashFrame.SplashFrame"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EasyDB"/>
</launchConfiguration>
